{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project":"tsconfig.json",
    "sourceType":"module",
    "ecmaVersion": "latest"
  },
  "plugins":[
    "@typescript-eslint/eslint-plugin",
    "promise",
    "prettier",
    "import",
    "security"
  ],
  "extends":[
    "plugin:node/recommended",
    "plugin:security/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended"
  ],
  "root":true,
  "env":{
    "es6":true,
    "node":true
  },
  "ignorePatterns":[
    ".eslintrc"
  ],
  "rules":{
    "prettier/prettier":"error",
    "node/no-extraneous-import":0,
    "node/no-unsupported-features/es-syntax":[
      "error",
      {
        "ignores":[
          "modules",
          "dynamicImport"
        ]
      }
    ],
    "node/no-missing-import":[
      "error",
      {
        "allowModules": ["aws-lambda"],
        "tryExtensions":[
          ".js",
          ".json",
          ".node",
          ".ts"
        ]
      }
    ],
    "@typescript-eslint/interface-name-prefix":0,
    "@typescript-eslint/explicit-function-return-type":0,
    "@typescript-eslint/explicit-member-accessibility":0,
    "@typescript-eslint/indent":0,
    "@typescript-eslint/member-delimiter-style":0,
    "@typescript-eslint/no-unsafe-member-access":0,
    "@typescript-eslint/no-unsafe-call":0,
    "@typescript-eslint/no-unsafe-assignment":0,
    "@typescript-eslint/explicit-module-boundary-types":0,
    "@typescript-eslint/no-explicit-any":0,
    "@typescript-eslint/no-var-requires":0,
    "@typescript-eslint/no-use-before-define":0,
    "@typescript-eslint/no-unused-vars":[
      1,
      {
        "argsIgnorePattern":"^_"
      }
    ],
    "no-console":[
      2,
      {
        "allow":[
          "warn",
          "error",
          "log"
        ]
      }
    ]
  }
}
