# dependencies
/node_modules
.build
.serverless


# IDE
/.idea
/.awcache
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# misc
npm-debug.log


# tests
/test
/coverage
/.nyc_output

# build
/build